@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #c7e3f2;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
}

.top-section {
  background-color: white;
  padding: 3rem 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.profile-img {
  width: 7.5rem;
  height: 7.5rem;
  margin: auto;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  background-image: url("image01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.name,
.title {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 400;
}

.title {
  margin-bottom: 0;
}

h2.name {
  font-size: 2em;
}

p.title {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.522);
}

.section {
  color: white;
  padding: 2.5rem 2rem;
}

.about {
  background-color: #4299ff;
}

.section > h2 {
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 1.375rem;
  margin-bottom: 1.375rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

.about > p {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  opacity: 0.9;
}

.about > p > span {
  text-decoration: underline;
}

.recent-work {
  background-color: #3288ed;
}

.recent-work > ul {
  font-size: 15px;
  font-weight: 300;
  opacity: 0.9;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recent-work > ul > li:first-child {
  margin-top: 0;
}

.recent-work > ul > li {
  margin-top: 0.9rem;
}

.fa-check-circle {
  padding-right: 10px;
  font-weight: 200;
}

.recent-work > ul > li > span {
  text-decoration: underline;
}

.contact {
  background-color: #277de3;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.button {
  background-color: #277de3;
  color: white;
  outline: none;
  padding: 8px 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 5px;
  transition: border 0.5s, color 0.5s;
}

.button:hover {
  border: 1px solid cyan;
  color: cyan;
}

i.fab,
i.far {
  padding-right: 5px;
}

@media only screen and (min-width: 736px) {
  .container {
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
  }

  .section {
    display: flex;
    align-items: stretch;
  }

  .section > h2 {
    font-size: 1em;
    width: 30%;
    border-bottom: none;
    margin: 0;
    padding: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid rgba(255, 255, 255, 0.26);
  }

  .about > p,
  .recent-work > ul,
  .contact > .button-group {
    width: 70%;
    padding-left: 20px;
  }
}
